<!-- <app-customcomponent></app-customcomponent> -->
<!-- <app-customcomponent2></app-customcomponent2> -->
<!-- <h1>This is index Page.</h1>
<h3>Give the routes in url to access page.</h3>-->
<!-- <div>
<a href="/">HOME </a>
</div>
<div>
    <a href="/Custom-component2-Component">Sign up</a>
</div> -->

<router-outlet></router-outlet> 
<!-- <app-registration-form></app-registration-form> -->





<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/Custom-component2-Component">Sign up</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login-form">Sign in</a>
        </li>
      </ul>
    
    </div>
  </nav>

  <router-outlet></router-outlet> 